* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #fd6e0a;
  --secondaryColor: #474747;
  --lightColor: #757575;
  --titleColor: #181818;
  --primaryBackground: #fff8f3;
}
/* common share styles */
body {
  font-family: "Open Sans", sans-serif;
}
.logo_title {
  color: var(--primaryColor);
}
.btn_primary {
  border: 0;
}
.btn_primary a {
  color: white;
  text-decoration: none;
  background-color: var(--primaryColor);
  font-weight: 700;
  border-radius: 5px;
  padding: 12px 18px;
  font-size: 20px;
  border: 1px solid #fd6e0a;
  transition: 0.5s;
}
.btn_primary a:hover {
  color: var(--primaryColor);
  background-color: white;
  border: 1px solid #fd6e0a;
}
.contact_btn {
  border: 0;
}
.contact_btn a {
  background-color: white;
  text-decoration: none;
  color: var(--primaryColor);
  border-radius: 5px;
  padding: 12px 18px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #fd6e0a;
  margin-left: 10px;
  transition: 0.5s;
}
.contact_btn a:hover {
  color: white;
  background-color: var(--primaryColor);
}
/* navbar section style from here */
.header {
  background-color: var(--primaryBackground);
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
  /* height: 100vh; */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 180px;
}
.nav_title {
  color: var(--titleColor);
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  font-weight: 500;
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: var(--secondaryColor);
}
/* banner section style from here */
.banner {
  padding: 30px 30px 0 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner_content {
  max-width: 500px;
}
.banner .profile_picture {
  width: 695px;
}
.banner_greeting {
  font-size: 45px;
  font-weight: 600;
  color: var(--secondaryColor);
}
.banner_title {
  font-size: 85px;
  font-weight: 700;
  color: var(--titleColor);
  margin: 10px 0;
}
.banner_description {
  color: var(--lightColor);
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.fa-solid {
  margin-right: 10px;
}
/* main section style from here */
.main_section {
  padding: 100px 180px;
}
/* about section style from here */
.about {
  background-color: var(--primaryBackground);
  padding: 100px;
  border-radius: 7px;
}
.section_title {
  color: var(--titleColor);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.about_description {
  color: var(--lightColor);
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin: 30px 0px;
}
.about_contact_information {
  color: var(--lightColor);
  text-align: center;
  font-size: 18p / x;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.about_contact_information h3 {
  font-size: 18px;
  color: var(--secondaryColor);
}
/* what i do section style start from here */
.what_id_section {
  padding: 100px 0px;
}
.course_section {
  width: 267px;
  height: 377px;
  box-shadow: 0.5px 0.5px 100px gray;
}
.skill_container {
  display: flex;
  justify-content: space-evenly;
}
.skill {
  padding: 30px;
  height: 377px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  /* border: 1px solid blue; */
}
.skill_title {
  color: var(--titleColor);
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0px;
}
.skill_description {
  color: var(--lightColor);
}
/* A summary of My resume section start from here */
.education_container {
  display: flex;
  gap: 80px;
}
.left_section {
  width: 720px;
}
.right_section {
  width: 720px;
}
.education_heading {
  font-size: 25px;
  font-weight: 700;
  color: var(--secondaryColor);
  margin-top: 40px;
  margin-bottom: 8px;
}
.education_title {
  color: var(--secondaryColor);
  font-size: 20px;
  font-weight: 700;
}
.education_center_name {
  color: var(--lightColor);
  font-size: 20px;
  font-weight: 500;
}
.education_description {
  color: var(--lightColor);
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px;
}
div hr {
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--lightColor);
}
.download {
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
/* footer section style start from here */
.footer_section {
  padding: 100px 180px;
  background-color: var(--primaryBackground);
  display: flex;
  gap: 80px;
}
.footer_title {
  text-align: left;
}
.social_link {
  font-size: 22px;
  cursor: pointer;
}
.social_link .fa-brands {
  margin-right: 10px;
  margin-top: 12px;
  transition: 0.5s;
  background-color: var(--primaryBackground);
  color: var(--primaryColor);
  padding: 15px;
  border-radius: 5px;
}
.social_link .fa-brands:hover {
  color: white;
  background-color: var(--primaryColor);
}
.footer_right_section {
  margin-left: 500px;
}
.from_area input,
textarea {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin: 20px 0;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.from_area textarea {
  width: 100%;
  height: 200px;
}
